/*!sc*/
.jmzsOP {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    height: 60px;
    background: #193153;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    /*!sc*/
    @media screen and (max-width:1975px) {
        margin-bottom: 80px;
    }

    /*!sc*/
    @media screen and (max-width:1439px) {
        margin-bottom: 40px;
    }

    /*!sc*/
    @media screen and (max-width:1183px) {
        height: 120px;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    /*!sc*/
    @media screen and (max-width:887px) {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    /*!sc*/
    @media screen and (max-width:624px) {
        height: auto;
        margin-bottom: 5px;
    }
}

/*!sc*/
.jrCzsc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 60px;
    padding-top: 20px;

    /*!sc*/
    @media screen and (max-width:1439px) {
        padding-left: 30px;
    }

    /*!sc*/
    @media screen and (max-width:1183px) {
        padding-left: 20px;
    }

    /*!sc*/
    @media screen and (max-width:887px) {
        height: 40px;
    }

    /*!sc*/
    @media screen and (max-width:624px) {
        padding: 0;
        margin-top: -1px;
        height: auto;
        background: #0E2038;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: flex-start;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
    }
}

/*!sc*/
.iXplwh {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    margin-right: 45px;
    box-sizing: border-box;
    font-weight: 500;
    cursor: pointer;
    color: #7F96B3;

    /*!sc*/
    :hover {
        color: #FFFFFF;
    }

    /*!sc*/
    @media screen and (max-width:887px) {
        margin-right: 25px;
    }

    /*!sc*/
    @media screen and (max-width:624px) {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        width: calc(100% - 40px);
        height: 50px;
        margin: 0 20px;
        border-top: 1px solid #253b57;
        border-radius: 3px;

        :hover {
            color: #FFFFFF;
        }

        ::before {
            display: block;
            content: "";
            position: absolute;
            background: #253b57;
            width: 1px;
            height: 54px;
            left: unset;
            -webkit-transform: unset;
            -ms-transform: unset;
            transform: unset;
            bottom: unset;
            border: none;
            -webkit-transform: rotate(23deg) translate(-10px, 2px);
            -ms-transform: rotate(23deg) translate(-10px, 2px);
            transform: rotate(23deg) translate(-10px, 2px);
        }

        ::after {
            display: block;
            content: "";
            position: absolute;
            background: #253b57;
            width: 1px;
            height: 54px;
            right: 0;
            top: 0;
            -webkit-transform: unset;
            -ms-transform: unset;
            transform: unset;
            bottom: unset;
            border: none;
            -webkit-transform: rotate(-23deg) translate(10px, 2px);
            -ms-transform: rotate(-23deg) translate(10px, 2px);
            transform: rotate(-23deg) translate(10px, 2px);
        }
    }
}

/*!sc*/
.hkFMNw {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    margin-right: 45px;
    box-sizing: border-box;
    font-weight: 500;
    cursor: default;
    color: #FFFFFF;
    position: relative;
    text-shadow: 0 0 0.65px #FFFFFF, 0 0 0.65px #FFFFFF;

    /*!sc*/
    :hover {
        color: #FFFFFF;
    }

    /*!sc*/
    ::before {
        content: "";
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 0px;
        border: 10px solid transparent;
        border-bottom: 10px solid #FFFFFF;
    }

    /*!sc*/
    @media screen and (max-width:1183px) {
        ::before {
            bottom: -16px;
        }
    }

    /*!sc*/
    @media screen and (max-width:887px) {
        ::before {
            bottom: 0px;
        }
    }

    /*!sc*/
    @media screen and (max-width:887px) {
        margin-right: 25px;
    }

    /*!sc*/
    @media screen and (max-width:624px) {

        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        width: calc(100% - 40px);
        height: 50px;
        margin: 0 20px;
        border-top: 1px solid #253b57;
        border-radius: 3px;
        color: #FFFFFF !important;
        text-shadow: none;
        border: none;
        background: linear-gradient(180deg, #254065 0%, #0e2038 100%);
        margin: 0;
        width: 100%;

        :hover {
            color: #FFFFFF;
        }

        ::before {
            display: block;
            content: "";
            position: absolute;
            background: #253b57;
            width: 1px;
            height: 54px;
            left: unset;
            -webkit-transform: unset;
            -ms-transform: unset;
            transform: unset;
            bottom: unset;
            border: none;
            -webkit-transform: rotate(23deg) translate(-10px, 2px);
            -ms-transform: rotate(23deg) translate(-10px, 2px);
            transform: rotate(23deg) translate(-10px, 2px);
        }

        ::after {
            display: block;
            content: "";
            position: absolute;
            background: #253b57;
            width: 1px;
            height: 54px;
            right: 0;
            top: 0;
            -webkit-transform: unset;
            -ms-transform: unset;
            transform: unset;
            bottom: unset;
            border: none;
            -webkit-transform: rotate(-23deg) translate(10px, 2px);
            -ms-transform: rotate(-23deg) translate(10px, 2px);
            transform: rotate(-23deg) translate(10px, 2px);
        }

        ::before {
            background: transparent;
            -webkit-transform: translateX(-20px);
            -ms-transform: translateX(-20px);
            transform: translateX(-20px);
            left: 20px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 50px 20px 0 0;
            border-color: #0E2038 transparent transparent transparent;
        }

        ::after {
            background: transparent;
            -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
            transform: translateX(20px);
            right: 20px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 20px 50px 0;
            border-color: transparent #0E2038 transparent transparent;
        }
    }
}

/*!sc*/
.eZEZcy {
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: #7F96B3;
    height: 25px;
    cursor: pointer;

    /*!sc*/
    :hover {
        color: #FF0000;
    }

    /*!sc*/
    @media all and (max-width:624px) {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        white-space: initial;
        overflow: initial;
    }
}

/*!sc*/
.iCWgfS {
    box-sizing: border-box;
    background: #214471;
    padding: 15px 70px 15px 25px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 580px;

    /*!sc*/
    @media screen and (min-width:1183px) {
        :before {
            content: "";
            position: absolute;
            left: -80px;
            top: 0;
            z-index: 1;
            border: 60px solid transparent;
            border-right: 20px solid #214471;
            border-bottom: 0px solid transparent;
        }

        /*!sc*/
        @media screen and (max-width:1439px) {
            padding-right: 30px;
            padding-left: 20px;
            width: 575px;
        }

        /*!sc*/
        @media screen and (max-width:1183px) {
            width: auto;
            padding-right: 20px;
            padding-left: 40px;
        }

        /*!sc*/
        @media screen and (max-width:624px) {
            padding-top: 0;
            background: #FFFFFF;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }
}

/*!sc*/
.ksSvPA {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
    margin-right: 0px;
    min-width: 40px;
    width: 40px;

    /*!sc*/
    img {
        -webkit-transform: scale(0.64);
        -ms-transform: scale(0.64);
        transform: scale(0.64);
    }
}

/*!sc*/
.fCRHeQ {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    /*!sc*/
    @media screen and (max-width:624px) {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 100%;
    }
}

/*!sc*/
.iDCOTJ {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    position: relative;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-top: 4px;
    padding-right: 5px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    max-width: 105px;

    /*!sc*/
    @media screen and (max-width:1183px) {
        max-width: 128px;
    }

    /*!sc*/
    @media screen and (max-width:624px) {
        display: block;
        color: #0E2038;
        font-weight: 500;
        font-size: 14px;
        margin-right: 0;
        margin-top: 18px;
        height: 31px;
        text-transform: none;
        padding-top: 0px;
        padding-bottom: 10px;
        padding-right: auto;
        padding-right: 20px;
        line-height: 34px;
        overflow: hidden;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        min-width: calc(100% - 20px);
        border-bottom: 1px solid #f3f5f8;

        ::after {
            content: "";
            position: absolute;
            right: 0px;
            top: 14px;
            background: url("../images/icons/menu-arrow-blue.svg") no-repeat;
            height: 10px;
            width: 12px;
        }
    }
}

/*!sc*/
.lhRJOt {
    margin-top: 12px;
    margin-right: 40px;
    background: url("../images/icons/menu-arrow-white.svg") no-repeat;
    height: 10px;
    min-width: 12px;
    width: 12px;

    /*!sc*/
    @media screen and (max-width:1183px) {
        margin-left: 2px;
        margin-right: 30px;
    }
}

/*!sc*/
.hZSyL {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #FFFFFF;
    color: #214471;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    height: 30px;
    min-width: 70px;
    margin-left: auto;

    /*!sc*/
    @media screen and (max-width:1439px) {
        margin-right: 30px;
    }

    /*!sc*/
    @media screen and (max-width:1183px) {
        margin-right: 0px;
    }
}

/*!sc*/
.dTFwOb {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    -webkit-clip: rect(0 0 0 0);
    clip: rect(0 0 0 0);
    overflow: hidden;
}